{{>header}}
	    <style>
	
	      	.botones {
		        display: flex;
		        justify-content: center;
		        margin-top: 150px;
		        margin-bottom: 150px;
	      	}
	
	      	.botones button {
		        background-color: #337ab7;
		        color: white;
		        padding: 20px 40px;
		        border: none;
		        border-radius: 5px;
		        font-size: 18px;
		        margin: 0 20px;
		        cursor: pointer;
	      	}
	
	      	.mapa {
		        width: 100%;
		        height: 400px;
		        margin-top: 100px;
	      	}
	      	
	      	.mapa h3 {
				font-size: 48px;
				text-align: center;
				margin-top: 100px;
			}
	
	      	.texto_horario {
		        text-align: center;
		        margin-top: 100px;
	      	}
	
	      	.texto_horario {
		        font-size: 32px;
		        text-align: center;
		        margin: 0 auto;
	      	}
	
	      	.horario {
		        font-size: 18px;
		        text-align: center;
		        margin: 0 auto;
	      	}
	      	
	      	.horario th,
	      	.horario td{
				  padding: 5px;
			}
		</style>
    	
    	<div class="botones">
      		<button onclick="window.location.href='/sala'">Reservar Sala</button>
      		<button onclick="window.location.href='/puesto'">Reservar Puesto de Lectura</button>
    	</div>
    
    	<div class="horario">
			<div class="texto_horario">
    			<h2>Horario de la Biblioteca</h2>
    		</div>
    		<table style="margin: auto">
  				<tr>
				    <th>Lunes</th>
				    <th>Martes</th>
				    <th>Miércoles</th>
				    <th>Jueves</th>
				    <th>Viernes</th>
				    <th>Sábado</th>
				    <th>Domingo</th>
  				</tr>
  				<tr>
				    <td></td>
				    <td></td>
				    <td></td>
				    <td></td>
				    <td></td>
				    <td></td>
				    <td></td>
  				</tr>
  				<tr>
				    <td>09:00</td>
				    <td>09:00</td>
				    <td>09:00</td>
				    <td>09:00</td>
				    <td>09:00</td>
				    <td>Cerrado</td>
				    <td>Cerrado</td>
  				</tr>
  				<tr>
				    <td>-</td>
				    <td>-</td>
				    <td>-</td>
				    <td>-</td>
				    <td>-</td>
				    <td>-</td>
				    <td>-</td>
  				</tr>
  				<tr>
				    <td>21:00</td>
				    <td>21:00</td>
				    <td>21:00</td>
				    <td>21:00</td>
				    <td>21:00</td>
				    <td>Cerrado</td>
				    <td>Cerrado</td>
  				</tr>
			</table>
    	<div class="mapa">
			<div>
				<h3>Localización</h3>
			</div>
      		<iframe
		        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3041.311356034991!2d-3.8795861844600803!3d40.3354385793746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd418e7adf68f543%3A0x841755428455a90b!2sUniversidad%20Rey%20Juan%20Carlos%20Campus%20M%C3%B3stoles!5e0!3m2!1ses!2ses!4v1677433291653!5m2!1ses!2ses"
		        width="60%"
		        height="100%"
		        frameborder="0"
		        style="border:0"
		        allowfullscreen=""
		        aria-hidden="false"
		        tabindex="0"
      		></iframe>
    	</div>
{{>footer}}
